* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ASSETS */

.float_left{
  float: left;
}

.float_right{
  float: right;
}

.clear{
  clear: both;
}

/*Colori*/
.grey {
  color: #818181;
}

body{
  height: 100vh;
  width: 100vw;
  background: #D2D3C9;
  display: flex;
}

header{
  position: fixed;
  height: 15vh;
  width: 100vw;
  background: #358675;
  z-index: -1;
}
/* CONTAINER--------------------------------> */

.container{
  height: 90%;
  width: 80%;
  background: white;
  margin: auto;
}
.left, .right{
  float: left;
  height: 100%;
}

.header_left, .header_right{
height: 65px;
width: 100%;
background: #EAEAEA;
}

/* LEFT---------------------> */

.left{
width: 35%;
background: white;
}

/* RIGHT----------------------> */

.right{
  width: 65%;
  background: green;
}

.header_right{
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.right .right_message_container{
  width: 100%;
  height: calc(100% - 65px - 65px);
  background: blue;
}

.right .right_message{
  width: 100%;
  height: 100%;
  background-image: url('mine.jpg');
  padding: 20px 40px;
  overflow: scroll;
}

.right .right_footer{
  height: 65px;
  width: 100%;
  background: #EAEAEA;
  line-height: 65px;
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}

.right .right_footer .right_footer_icon{
  height: 65px;
  width: 65px;
  font-size: 25px;
  color: #6b7376;
  display: flex;
  cursor: pointer;
}

.right .right_footer .right_footer_icon i{
margin: auto;
}

.right .right_footer .new_message_input{
  width: calc(100% - 65px - 65px);
  height: 40px;
  border: 0;
  border-radius: 20px;
  padding-left: 10px;
  color: #818181;
}

.right .right_footer .new_message_input::placeholder{
color: lightgray;
}
