* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*Colori*/
.grey {
  color: #818181;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 14px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

.sfondo{
  background-image: linear-gradient(to bottom, #009688 0px, #009688 130px, #dddbd1 101px, #d2dbdc 100%);
  height: 100%;
  padding: 20px;
}

.wrapper {
  background: white;
  height: 100%;
  width: 65%;
  margin: 0 auto;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.02);
  min-width: 800px;
}
/* SIDEBAR LEFT */
.sidebar_left{
  background: red;
  width: 400px;
  height: 100%;
  float: left;
}

.foto_profilo{
  height: 100%;
  width: 65px;
  float: left;
  padding: 10px;
  overflow: hidden;
}

.foto_profilo img{
  height: 100%;
  border-radius: 25px;
}

.botton_area{
  height: 100%;
  width: calc(100% - 65px);
  float: left;
}

.botton_area ul{
list-style: none;
height: 100%;
width: 100%;
}

.botton_area ul li{
display: inline-block;
float: right;
margin-left: 20px;
margin-top: 20px;

}


.search_area{
  height: 45px;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid lightgrey;
}

.contact_area{
  height: calc(100% - 110px);
  width: 100%;
  background: green;
  overflow: auto;
}

.contact{
  height: 80px;
  width: 100%;
  background: white;
}

.contact .foto_profilo{
  height: 100%;
  width: 80px;
  padding: 10px;
}

.contact .foto_profilo img{
  border-radius: 50px;
}

.contact_data h2{
font-weight: normal;
}

.contact .contact_data{
  width: calc(100% - 80px);
  float: left;
  border-bottom: 1px solid lightgrey;
}

.contact .contact_data h2{
margin-top: 10px;
}




/* MAIN */
.main{
  height: 100%;
  width: calc(100% - 400px);
  background: blue;
  float: left;
}
.main .header{
  border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.contact_data{
  float: left;
  height: 100%;
  width: 220px;
  padding: 10px;
}

.contact_data p{
color: #818181;
}

.main .header .botton_area{
width: calc(100% - 285px);
}

.chat_area{
  height: calc(100% - 130px);
  width: 100%;
  background-image: url('background-chat.png');
}

.write_area{
  height:65px;
  width: 100%;
  background-color: #eeeeee;
}



/* HEADER */

.header{
  height: 65px;
  width: 100%;
  background-color: #eeeeee;
}
